# URLs no sensibles generadas por los stacks Serverless.
AUTH_API_URL=<auth-api-gateway-url>
COURSE_API_URL=<course-api-gateway-url>
MENU_API_URL=<menu-api-gateway-url>
METRICS_API_URL=<metrics-api-gateway-url>
SUBSCRIPTIONS_API_URL=<subscriptions-api-gateway-url>
USERS_API_URL=<users-api-gateway-url>
VIDEOS_API_URL=<videos-api-gateway-url>
